{% extends 'lexique/_base.html' %}
{% load static %}
    {% block content %}
        <h2>Ajouter un mot</h2>
        {% comment %}  attribut enctype obligatoire pour que le formulaire puisse gérer l’envoi de fichiers. {% endcomment %}
    <section>  
        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Publier</button>
        </form>
    </section>
    <footer>
        <section>
            <p>
                Créer par David Plessix, Formation Dev Web et Web Mobile.
                Projet N°3 soutenance 2022
            </p>
        </section>
    </footer>
    {% endblock content %}