{% extends 'mysite/_base.html' %}
{% load static %}
{% block title %}Maneki Neko Game{% endblock title %}
{% block content %}
<section >
    <form class ="choice" method="get">
        <h3>Hiragana</h3>
        <input type = "checkbox" name="hiragana" {% if hiragana == "on" %} checked {% endif %}>
        <button class = "check" type="submit">Valider</button>
    </form>
    <p>Score : {{scores.current_score}} / {{scores.total_questions}}</p>
    <form class ="choice" method="get">
        <h3>Katakana</h3>
        <input type ="checkbox" name="katakana" {% if katakana == "on" %} checked {% endif %}>
        <button class = "check" type="submit">Valider</button>
    </form>
</section>
<div class="container">
    <div class="child">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ideogramms.0.id}}">
            <input type="hidden" name="correct" value="{{correct_ideogramm.id}}">

            <button type="submit">{{ideogramms.0.romanji }}</button>
        </form>
    </div>

    <div class="child2">
        <img class="img" src="{{correct_ideogramm.Img_link}}" alt="Maneki Neko Game">
    </div>

    <div class="child">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="current" value="{{ideogramms.1.id}}">
            <input type="hidden" name="correct" value="{{correct_ideogramm.id}}">

            <button type="submit">{{ideogramms.1.romanji }}</button>
        </form>
    </div>
</div>

<section>
    <p>{{random_documentary.description}}</p>
</section>

{% endblock content %}